header {
  background-color: forestgreen;
  text-align: center;
}
header h2 {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
}
header div {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
header nav a {
  color: black;
  padding: 10px;
  font-weight: bold;
}
/* -------------------------------------------------- */
main {
  padding: 20px;
  text-align: center;
  font-weight: bold;
}
main h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}
main h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
/* ----------------------------------------------- */
main div {
  display: flex;
  justify-content: center;
}
main section {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  color: white;
}
main section p {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
main section p:nth-child(1) {
  background-color: indianred;
}
main section p:nth-child(2) {
  background-color: coral;
}
main section p:nth-child(3) {
  background-color: cadetblue;
}
main section p:nth-child(4) {
  background-color: steelblue;
}
/* ---------------------------------------------- */

/* -------------------------------------------------- */
/* @media screen and (min-width: 800px) {
  header h2 {
    position: absolute;
    top: 0px;
    left: 50px;
    transform: translate(-50%, 0);
  }
  header nav > * {
    display: flex;
    justify-content: space-between;
    height: 60px;
  }
  header nav a {
    display: inline-block;
    line-height: 40px;
  }
} */
