body {
  height: 100vh;
  background: linear-gradient(45deg, black, blue);
  /*linear-gradient : 그라데이션 넣기(각도, 색 두개)*/
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  /*중앙으로 올려면 부모태그한테 display flex, aling, justify 부여*/
  display: flex;
}
.square {
  width: 10px;
  height: 50px;
  background: white;
  margin: 3px;
  border-radius: 10px;

  animation: squareScale 1s linear infinite;
}
.square:nth-child(2),
.square:nth-child(6) {
  animation-delay: 0.1s;
}
.square:nth-child(3),
.square:nth-child(5) {
  animation-delay: 0.2s;
}
.square:nth-child(4) {
  animation-delay: 0.3s;
}

@keyframes squareScale {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.5);
  }
  100% {
    transform: scaleY(1);
  }
}
/*---------------------------------------------------------------*/

.box {
  height: 100vh;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.move {
  height: 30px;
  width: 4px;
  background-color: white;
  border-radius: 25%;
  margin-right: 2px;

  animation: boxAni 1s cubic-bezier(0.78, -0.32, 0.25, 1.26);
}
.move:nth-child(1) {
  /* transform: scaleY(0.7); */
  animation-delay: 1s;
}
.move:nth-child(2) {
  /* transform: scaleY(1.2); */
  animation-delay: 2s;
}
.move:nth-child(3) {
  /* transform: scaleY(1.2); */
  animation-delay: 3s;
}
.move:nth-child(4) {
  /* transform: scaleY(1.2); */
  animation-delay: 4s;
}
.move:nth-child(5) {
  /* transform: scaleY(1.2); */
  animation-delay: 5s;
}
.move:nth-child(6) {
  /* transform: scaleY(1.2); */
  animation-delay: 6s;
}
.move:nth-child(7) {
  /* transform: scaleY(1.2); */
  animation-delay: 7s;
}

@keyframes boxAni {
  50% {
    transform: scaleY(1.3);
  }
}
