header {
  position: fixed; /* header는 움직여도 항상 있어야 함으로 고정 */
  background: white;
  width: 100%; /* 지정 안할경우 글자가 적혀있는 부분만 되기 때문에 가로 넓게가 안됨.*/
  height: 60px; /*height을 지정 : 스크롤 내리면 밑을 밀어야하기 때문에 */
  display: flex; /* 자식 요소들의 정렬을 위해 사용 - header로 flex 박스를 만들겠다는 의미 */
  justify-content: space-between;
  align-items: center;
  /* flex 선언하고 justify와 align 사용 가능 -> 이들은 태그 안의 내용을 대상으로 수정 뜻함 */
}
header h1 {
  margin-left: 10px; /* 글자와 테두리 사이의 10px */
  font-size: 20px;
  font-weight: bold;
}
header nav {
  margin-right: 20px;
  display: flex;
}
header nav a {
  text-decoration: none;
  color: black;
  /* margin-left: 10px; */
  display: inline-block;
  /*inline요소라서 width, height값 부여 안되기 때문에 inline-block처리하여 width, height 값 주기*/
  height: 60px;
  line-height: 40px;
  padding: 10px;
  box-sizing: border-box;
}
header nav a:hover {
  /* color: tomato; */
  background-color: black;
  color: white;
  /* hover 위해 header nav a에서  
  height: 60px;
  line-height: 40px;
  padding: 10px;
  box-sizing: border-box; 지정 */
}
main {
  padding-top: 60px;
  /*header에 height 60px 주었기 때문에 padding-top으로 밀어야 함*/
}
main section {
  height: 100vh;
  display: flex;
  justify-content: center;
  /* display:flex를 써야 j-c:c 쓸 수 있음 / 가로 중앙 */
  align-items: center; /* 세로 중앙 */
  flex-direction: column;
}
main section h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}
main section p {
  text-align: center;
  width: 70%;
  line-height: 1.5rem; /* 줄간격 */
}

main section:nth-child(1) {
  background-color: red;
}
main section:nth-child(2) {
  background-color: purple;
}
main section:nth-child(3) {
  background-color: yellow;
}

.top {
  position: fixed; /* 스크롤 움직여도 항상 보여야 하기 때문*/
  right: 10px; /* 오른쪽 하단에서 항상 보여야 함*/
  bottom: 10px;
  background-color: black;
  text-decoration: none;
  width: 60px; /*가로, 세로 지정 후 radius 통해 동그랗게 */
  height: 60px;
  /* a태그는 인라인이라 원칙적으로 width와 height 지정이 안되지만
  position을 fixed 한 경우에는 가능 */
  border-radius: 50%;
  font-size: 15px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* justify와 align은 display를 flex로 해야만 쓸 수 있음 */
}

/* 내가 해본 부분  
main section h2 {
  font-weight: bold;
  font-size: 35px;
}
#section1 {
  background-color: red;
  text-align: center;
  padding: 300px;
  box-sizing: border-box;
}
#section2 {
  background-color: purple;
  text-align: center;
  padding: 300px;
  box-sizing: border-box;
}
#section3 {
  background-color: yellow;
  text-align: center;
  padding: 300px;
  box-sizing: border-box;
}*/
